<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <title><!-- your title here--></title>
        <link rel="icon" href="" type="image/x-icon" sizes="16x16 32x32">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>

    <body id="root">
        <!-- your content here... -->
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>